.home {
  color: #00193c;
  a {
    color: #2196f3;
  }
  header {
    height: 2.9rem;;
    background-color: #f6f6f6;
  }
  footer {
    height: 2.6rem;
    background-color: #f6f6f6;
    background-image: url(../../assets/images/logo-01.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }
  .global-data {
    padding: 0.3rem;
    & > div {
      padding: 0.3rem;
      box-shadow: 0 0.1rem 0.3rem 0 rgba(194, 200, 219, 0.6);
      border-radius: 0.15rem;
      .header {
        .title {
          margin-bottom: 0.3rem;
        }
      }
      .section {
        display: flex;
        flex-wrap: wrap;
        .line {
          margin-top: 0.21rem;
          width: 1px;
          background-color: #d8d8d8;
          height: 1rem;
        }
        .item {
          width: 33%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 0.2rem;
          .sum,
          i {
            color: #e10000;
          }
          // &:nth-of-type(1) .sum, &:nth-of-type(1) i {
          //   color: #f74c30;
          // }
          // &:nth-of-type(2) .sum, &:nth-of-type(2) i {
          //   color: #b5212b;
          // }
          // &:nth-of-type(3) .sum, &:nth-of-type(3) i {
          //   color: #fe9317;
          // }
          // &:nth-of-type(4) .sum, &:nth-of-type(4) i {
          //   color: #e10000;
          // }
          // &:nth-of-type(5) .sum, &:nth-of-type(5) i {
          //   color: #15a582;
          // }
          // &:nth-of-type(6) .sum, &:nth-of-type(6) i {
          //   color: #00193c;
          // }
          .diff-val {
            font-size: 0.2rem;
          }
          .sum {
            font-size: 0.5rem;
            font-weight: 700;
          }
          .area {
            font-size: 0.2rem;
          }
          .title {
            font-size: 0.25rem;
            font-weight: 700;
            text-align: center;
            p {
              margin-bottom: 0.12rem;
            }
          }
        }
      }
      .footer {
        padding: 0.05rem;
        font-size: 0.22rem;
        color: #a1a5ac;
      }
    }
  }
  .map-charts {
    position: relative;
    #myEcharts {
      height: 7rem;
    }
    .btn-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 0.4rem;
      width: 100%;
      box-sizing: border-box;
      .btn,
      .btn-active {
        width: 3.2rem;
        height: 0.9rem;
        line-height: 0.9rem;
        span {
          display: block;
          width: 100%;
          font-size: 0.2rem;
          font-weight: 400;
          color: #212223;
          text-align: center;
        }
      }
      .btn {
        background: url(../../assets/images/btn-normal.png) no-repeat;
        background-size: contain;
        background-position-y: 0.09rem;
      }
      .btn-active {
        background: url(../../assets/images/btn-active.png) no-repeat;
        background-size: contain;
      }
    }
    .showTip {
      position: relative;
      & > ul {
        position: absolute;
        display: block;
        border-style: solid;
        white-space: nowrap;
        z-index: 9999999;
        border-width: 1px;
        border-color: rgb(51, 51, 51);
        border-radius: 4px;
        color: rgb(255, 255, 255);
        font: 12px / 18px PingFang-SC-Medium, PingFang-SC;
        padding: 7px;
        left: 0.2rem;
        // transform: translateX(-50%);
        bottom: 1.7rem;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: rgba(219, 219, 219, 0.5) 0px 0px 4px 0px;
        pointer-events: auto;
      }
    }
  }
  .button-wrapper {
    text-align: center;
    .mu-button {
      margin: 8px;
    }
  }
}
