<div class="home">
  <header>
    广告位
  </header>
  <section>
    <div class="global-data">
      <div>
        <div class="header">
          <h3 class="title">全国疫情</h3>
        </div>
        <div class="section">
          <div class="item">
            <span class="diff-val">昨日<i class=""> -36</i></span>
            <span class="sum">2281</span>
            <span class="title">现存确诊</span>
          </div>
          <span class="line"></span>
          <div class="item">
            <span class="diff-val">昨日<i class=""> -36</i></span>
            <span class="sum">2281</span>
            <span class="title">现存确诊</span>
          </div>
          <span class="line"></span>
          <div class="item">
            <span class="diff-val">昨日<i class=""> -36</i></span>
            <span class="sum">2281</span>
            <span class="title">现存确诊</span>
          </div>
          <div class="item">
            <span class="diff-val">昨日<i class=""> -36</i></span>
            <span class="sum">2281</span>
            <span class="title">现存确诊</span>
          </div>
          <span class="line"></span>
          <div class="item">
            <span class="diff-val">昨日<i class=""> +36</i></span>
            <span class="sum">2281</span>
            <span class="title">现存确诊</span>
          </div>
          <span class="line"></span>
          <div class="item">
            <span class="diff-val">昨日<i class=""> -36</i></span>
            <span class="sum">2281</span>
            <span class="title">现存确诊</span>
          </div>
        </div>
        <div class="footer">
          <span>截止2020.4.01 10:20 | 数据说明 ？</span>
        </div>
      </div>
    </div>
    <div class="map-charts">
      <div id="myEcharts"></div>
    </div>
    <div class="line-charts">折线图数据</div>
  </section>
</div>
